@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    overflow: auto;
    justify-items: center;
    font-family: 'Poppins', sans-serif;
    /* background: #B2FEFA; */

    /* background: linear-gradient(to bottom,#C6FFDD, #B2FEFA); */
    border-radius:10px;

    justify-content: center;
    align-items: center;
    z-index: -1;
}






.main {
    display: flex;
    justify-content: space-between;
    /* background:#000; */
    align-items: center;
}

.main button {

    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #FFF;
    background: #3a7bd5 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}